<div class="col-sm-10 offset-2">
    <div class="row">
        <div class="col-4 offset-4">
            <h1>Welcome!</h1>
        </div>

    </div>
    <div class="row">
        <div col-12>
            <form>
                <div class="row">
                    <div class="col-2">
                        <p>Name: </p>
                    </div>
                    <div class="col-6 ">
                        <input type="text" id="nameInp" class="container-fluid" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>Login: </p>
                    </div>
                    <div class="col-6">
                        <input type="text" id="loginInp" class="container-fluid" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>Password: </p>
                    </div>
                    <div class="col-6">
                        <input type="text" id="passwordInp" class="container-fluid" required>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <button type="submit" id="sbmtRegBtn" class="btn btn-outline-dark col-2 offset-4">Apply</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>


