<!--<div class="row">-->
<!--    <div class="col-sm-4 offset-4">-->
<!--        <h1>Your tasks here</h1>-->
<!--    </div>-->
<!--</div>-->
<div class="row">
    <div class="col-sm-4 ready" id="readyCol">
        <div>
            <h4>Ready</h4>
        </div>
        <div id="ready">

        </div>
        <div id = "addDelBtns">
            <button id="addTaskBtn">+ Add Card</button>
            <button id="sbmtTaskBtn" hidden>Submit</button>
        </div>


    </div>
    <div class="col-sm-4" id="inProgressCol">
        <div>
            <h4>In Progress</h4>
        </div>
        <div id="inProgress">

        </div>

    </div>
    <div class="col-sm-4" id="finishedCol">
        <div>
            <h4>Finished</h4>
        </div>
        <div id="finished">

        </div>

    </div>
</div>